@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=tabular@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'TT Norms';
    src: url('Fonts/TTNormsProVariable.ttf')  format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    background-color: #d1e6ba;
    backdrop-filter: blur(4px);
    background-image: url('Images/logorwm.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-attachment: fixed;
}

body.disable-scroll {
    height: 100vh;
    overflow: hidden;
}

#loading {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999;
    overflow: hidden;
    background-color: #000;
    background-image: url(Images/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

@media screen and (max-width: 1120px) {
    body {
        background-size: 80%;
    }
}

@media screen and (max-width: 960px) {
    body {
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media screen and (max-width: 680px) {
    body {
        background-size: 100%;
    }
}

.navbar {
    top: 0;
    background-color: #e5f5dc;
    height: 80px;
    font-family: "Kumbh Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 0 10px;
    padding: 0 10px;
}

.navbar-logo {
    font-family: "Kumbh Sans", serif;
    display: flex;
    margin: 0;
}

.navbar-logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 600;
    text-decoration: none;
    /* color: #FBEFCC; */
    color: black;
    justify-content: space-between;
}

.navbar-logo a:hover {
    color: #206e4a;
    transition: all 0.3s ease;
}

.navbar-menu, .navbar-menu-mobile {
    min-width: 55%;
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:right;
}

.navbar-menu .menu-item ul, .navbar-menu-mobile .menu-item ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
}

.menu-item ul li {
    margin: 0 1rem;
    position: relative;
}

.menu-item ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #198754;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: all 0.5s ease;
}

.menu-item ul li:hover::after {
    width: 100%;
}

.navbar-menu a, .navbar-menu-mobile a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    /* color: #FBEFCC; */
    color: black;
}

.navbar-menu a:hover, .navbar-menu-mobile a:hover {
    color: #206e4a;
    transition: all 0.3s ease;
}

.menu-item ul li:nth-child(1)::after {
    width: 100%;
}

.navbar-toggle {
    margin-right: 10px;
    display: none;
}

.navbar-menu .profile, .navbar-menu-mobile .profile {
    display: flex;
}

.profile .button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    max-height: 44px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 13px;
    background-color: #315335;
    text-decoration: none;
    transition: all 0.2s ease;
    overflow: hidden;
}

.button:hover {
    transform: scale(1.1);
}

.button .cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    background-color: #166f01;
    transition: all 0.35s ease;
    border-radius: 13px;
}

.button p {
    color: white;
    z-index: 1;
}

.button:hover .cover {
    width: 100%;
}

.navbar-menu-mobile {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 1;
        padding: 0;
    }

    .navbar-logo {
        width: 100%;
        margin: 0 auto 0 0;
    }

    .navbar-logo a {
        width: 100%;
        justify-content: flex-start;
    }

    .navbar-logo a p {
        margin: 0 auto;
    }

    .navbar-menu, .navbar-menu-mobile {
        top: 30px;
        margin: 0;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 50vh;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
        background-color: white;
    }

    .navbar-menu-mobile {
        display: flex;
        box-shadow: 0 10px 25px 0 #0000008c;
    }

    .navbar-menu-mobile .menu-item {
        height: 70%;
    }

    .navbar-menu-mobile .profile {
        width: 80%;
        height: 25%;
        padding-left: 0;
        justify-content: center;

        a {
            width: 60%;
            margin-top: 20px;
        }
    }

    .navbar-menu-mobile .menu-item ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-menu-mobile.active {
        /* background-color: #253B1A; */
        border-bottom-left-radius : 20px;
        border-bottom-right-radius : 20px;
        top: 145%;
        transition: all 0.5s ease;
        z-index: 99;
        height: 45vh;
        opacity: 1;
        font-size: 1.6rem;
    }

    .navbar-menu-mobile.active .menu-item {
        width: 80%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar-menu-mobile .active .menu-item ul {
        width: 100%;
        display: flex;
    }

    .menu-item ul li {
        width: 60%;
        border: 1px solid #000;
        border-radius: 8px;
        transition: all 0.3s ease;

        a {
            padding: 10px 0;
            display: flex;
            justify-content: center;
            z-index: 0;
        }
    }

    .menu-item ul li:hover {
        border-color: #e5f5dc;
    }

    .menu-item ul li::after {
        height: 100%;
        background-color: #e5f5dc;
        bottom: 0px;
        z-index: -1;
        border-radius: 8px;
    }

    .menu-item ul li:hover::after {
        width: 100%;
    }

    .menu-item ul li img {
        filter: invert(1);
        margin: 0 30px;
        width: 25px;
    }

    .navbar .navbar-toggle {
        display: block;
    }
    
    .navbar-toggle .bar-background {
        display: block;
        width: 60px;
        height: 40px;
        padding: 5px;
        /* border: 1px solid rgba(251, 239, 204, 0.175); */
        border: 1px solid rgba(0, 0, 0, 0.175);
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
    }

    .navbar-toggle .bar {
        cursor: pointer;
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        /* background-color: rgba(251, 239, 204, 0.75); */
        background-color: black;
        transition: all 0.3s ease;
    }

    /* @media (prefers-color-scheme:dark) {
        .navbar-toggle .bar-background {
            border-color: rgba(255, 255, 255, 0.175);
        }

        .navbar-toggle .bar {
            background-color: rgba(250, 250, 250, 0.75);
        }
    } */

    .navbar-toggle.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 680px) {
    .menu-item ul li a {
        justify-content: flex-start;
    }

    .menu-item ul li img {
        margin: 0 20px;
    }
}

@media screen and (max-width: 500px) {
    .navbar .navbar-logo a {
        font-size: 1.25rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px;
    background-color: #d1e6ba;
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
}

.marquee {
    position: sticky;
    z-index: 999;
    top: 80px;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    color: #000;
    background-color: #e5f5dc;
    overflow: hidden;
    box-shadow: 0 5px 15px -8px #0000008c;
}

.marquee-content {
    white-space: nowrap;
    mask-image: linear-gradient(to right, transparent, #000 5% 95%, transparent);
}

.marquee::before, .marquee::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.marquee::before {
    top: 0;
}

.marquee::after {
    bottom: 0;
}

.marquee-content p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

.marquee:hover p {
    animation-play-state: paused!important;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.main .main-contact {
    /* background: linear-gradient(#206e4ad9 50%, #253b1ad9 99%); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.main-contact .text {
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
}

.main-contact h1, h3, h5 {
    text-align: center;
}

.main-contact h1 {
    width: 100%;
    padding: 2px;
    font-optical-sizing: auto;
    display: inline;
    color: #000;
    font-size: 5rem;
    font-family: "Anton";
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
}

.main-contact h3 {
    padding: 10px 10px 20px 10px;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Kumbh Sans";
}

.main-contact h5 {
    font-family: "Kumbh Sans";
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 30px;
}

.main-contact .buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.main-contact .buttons .button-background {
    margin: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    padding: 15px 30px 15px 30px;
    background-color: #315335;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border: 2px solid #87194C; */
    border-radius: 13px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 1px 5px 0 #0000008c;
}

.button-background .cover {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #166f01;
    transition: all 0.35s ease;
    border-radius: 13px;
    z-index: -1;
}

.main-contact .buttons .button-background:hover {
    transform: scale(1.05);
    color: #fff;
    .cover {
        width: 100%;
    }
}



.main-specialization {
    width: 100%;
    display: flex;
    background-color: #315335;
    padding: 35px;
    color: #fff;
    text-align: justify;
    font-family: "Kumbh Sans";

    .text {
        display: flex;

    }

    .mobile-text {
        display: none;
    }

    .mobile-text .sell-collected{
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .first-text-block {
        width: 100%;
        margin-bottom: 40px;

        p {
            font-size: 1rem;
            line-height: 1.4;
        }
    
        p:nth-child(1) {
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    ul li {
        list-style-type: none;
        line-height: 1.4;
        font-size: 1rem;
    }

    ul li:nth-child(1) {
        margin-bottom: 20px;
    }
}

.main-specialization .text {
    .text-wrapper {
        width: 50%;
    }

    .second-text-block {
        width: 100%;

        p {
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    .image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: clamp(200px, 80%, 400px);
        float: right;
    }
}

.main-specialization .mobile-text {
    .second-text-block {
        width: 100%;
        p {
            width: 100%;
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 600;
        }

        ul {
            width: 100%;
        }
    }

    img {
        width: clamp(200px, 40%, 400px);
        height: clamp(200px, 40%, 400px);
        float: right;
    }
}

@media screen and (max-width: 1680px) {
    .main-contact .text h1 {
        font-size: 4.25rem;
    }
}

@media screen and (max-width: 960px) {
    .main-contact .text h1 {
        font-size: 3rem;
    }
    .main-contact .buttons {
        width: 70%;
    }

    .main-specialization {
        .text {
            display: none;
        }

        .mobile-text {
            display: block;
        }
    }

    .main-specialization .first-text-block {
        width: 100%;

        p {
            font-size: 0.9rem;
        }

        p:nth-child(1) {
            font-size: 1.75rem;
        }
    }

    .main-specialization .second-text-block {
        width: 100%;
        
        p {
            width: 100%;
            font-size: 1.75rem;
        }
        
        ul {
            width: 100%;
        }

        ul li {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .main-contact .buttons {
        width: 90%;
        flex-direction: column;
    }

    .main-contact .buttons a {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .main-contact .text {
        width: 95%;
    }

    .main-contact .text h1 {
        width: 100%;
        display: block;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 0;
    }

    .main-contact .text h3 {
        font-weight: 500;
        font-size: 1.15rem;
    }
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(#206e4ad9, #fbefccd9); */
}



.price {
    padding: 100px 0 100px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(#fbefccd9, #206e4ad9, rgba(212, 212, 212, 0.5)); */
}

.price .price-wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}



.price-wrapper-container .price-wrapper {
    width: 30%;
    min-height: 300px;
    background-color: #e5f5dc;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 30px;
    list-style-type: none;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
    justify-content: space-between;
}

.price-wrapper-container .price-wrapper-2 {
    box-shadow: 1px 1px 3px 0 #315335;
    scale: 1.15;
}

.price-wrapper-container .price-wrapper-2:hover {
    box-shadow: 1px 2px 10px 0 #315335;
}

.price-wrapper-container .price-wrapper:nth-child(2) {
    background-color: #d3f3be;
}

.price-wrapper li {
    min-height: 30px;
}

.price-wrapper .price-tier {
    margin: 20px 40px -5px 40px;
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p:nth-child(1) {
        font-size: 1.2rem;
    }
}

.month-container {
    display: flex;
}

.popular {
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500;
    color: #fff;
    border-radius: 20px;
    background-color: #315335;
}

.price-wrapper .price-detail {
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 40px;
}

.price-wrapper .pricing {
    position: absolute;
    margin: 10px 0 20px 40px;
    width: fit-content;
    display: flex;
    font-size: 2.75rem;
    font-weight: 700;
    position: relative;
    
    p {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        bottom: 8px;
        right: -30px;
    }
}

.price-wrapper .pricing-detail {
    margin: 0 40px 30px 40px;
    font-size: 0.9rem;
    font-weight: 400;

    ul {
        margin-top: 5px;
        list-style-type: none;
    }

    ul li {
        display: flex;
        align-items: center;
        opacity: 0.75;
        font-size: 0.75rem;
    }

    ul img {
        width: 20px;
        margin-right: 10px;
        opacity: 0.5;
    }
}

.price-wrapper .price-button {
    margin: 0 20px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 90%;
        height: 60px;
        border-radius: 40px;
        border: none;
        background-color: #315335;
        color: #fff;
        cursor: pointer;
        font-family: "Kumbh Sans", sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        position: relative;
        overflow: hidden;
        transition: all 0.4s ease;
        z-index: 0;

        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    button:hover {
        transform: scale(1.05);
        font-size: 1.35rem;
    }

    button::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #166f01;
        transition: all 0.4s ease;
        border-radius: 40px;
        z-index: -1;
    }

    button:hover::after {
        width: 100%;
    }
}

.price-wrapper-1 .price-button, .price-wrapper-3 .price-button {
    button {
        background-color: #31533563;
        color: #303030;
        height: 50px;
        width: 80%;
    }

    button::after {
        background-color: #63a8539a;
    }
}

.price-wrapper .price-call {
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    width: fit-content;
    justify-self: center;
    position: relative;
    cursor: pointer;
}

.price-wrapper .price-call::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #198754;
    transition: all 0.35s ease;
}

.price-wrapper .price-call:hover::after {
    width: 100%;
}

.price-wrapper .price-tier-detail-container {
    width: 100%;
    flex-grow: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 30px;
}

.price-wrapper .price-tier-wrapper-container {
    list-style-type: none;
    margin: 55px 40px 0 40px;
}

.price-tier-wrapper-container .price-tier-detail {
    font-size: 1.15rem;
    margin: 20px 0;

    .tick {
        margin-right: 15px;
        font-size: 1.25rem;
        font-weight: 600;
    }
}

.price-wrapper-container .price-wrapper:nth-child(2) {
    .price-tier-detail:nth-child(1), .price-tier-detail:nth-child(2) {
        font-weight: 700;
    }
}

.price-wrapper .included-services {
    font-size: 1.15rem;
    font-weight: 600;
    margin: 20px 40px 20px 40px;
}

.price-wrapper .included-service-names {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px 40px 40px;

    p {
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .price-wrapper .price-tier {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 960px) {
    .price {
        flex-direction: column;
    }

    .price .price-wrapper-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .price-wrapper-container .price-wrapper {
        width: 60%;
        min-height: 0;
    }

    .price-wrapper-container .price-wrapper-1, .price-wrapper-container .price-wrapper-2 {
        margin-bottom: 60px;
    }

    .price-wrapper .price-tier {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 680px) {
    .price .price-wrapper-container {
        justify-content: center;
        align-items: center;
    }
    .price-wrapper-container .price-wrapper {
        width: 90%;
    }

    .price-wrapper .price-tier {
        margin: 10px 20px;
    }

    .month-container {
        justify-content: center;
    }

    .price-wrapper .price-detail {
        margin-left: 0;
    }

    .price-wrapper .pricing {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .price .price-wrapper .price-tier p:nth-child(2) {
        font-size: 0.85rem;
    }
}

.location {
    background-color: #e5f5dc;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding-top: 70px;
    padding-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.location .location-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 60px;
}

.location-detail .search-bar {
    width: fit-content;
    background-color: #393737;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 10px 35px 0;
    padding: 23px 35px 23px 23px;
    border-radius: 45px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.location-detail .search-bar p {
    font-family: "Kumbh Sans";
    font-size:clamp(5px, 2vw, 20px);
    color: white;
    font-weight: 300;
    text-wrap: wrap;
    margin-bottom: 0;
    text-align: left;
}

.location-detail .search-bar img {
    display: inline;
    margin-left: 30px;
    justify-self: center;
    align-self: center;
    width: 33px;
    filter: invert(99%) sepia(0%) saturate(7498%) hue-rotate(107deg) brightness(112%) contrast(100%);
}

.location-detail .search-bar img:nth-child(1) {
    width: 30px;
    margin-right: 18px;
    margin-left: 0;
    filter: none;
}

.location p {
    font-family: "TT Norms";
    font-variation-settings: 'wdth' 75;
    text-align: left;
    font-size: 4.25rem;
    font-weight: 700;
    margin-bottom: 35px;
}

.location .map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 450px;
    height: clamp(300px, 100%, 500px);
    margin-right: 30px;
    position: relative;
}

.map iframe {
    width: 100%;
    min-height: 300px;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 15px 0 #315335;
    opacity: 0.9;
}

.map iframe:hover {
    opacity: 1;
    box-shadow: 9px 9px 25px 0 #315335;
}

@media screen and (max-width: 1526px) {
    .location-detail .search-bar p {
        font-size:clamp(5px, 1vw, 20px);
    }
}

@media screen and (max-width: 960px) {
    .location {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .location p {
        font-size: 1.85rem;
        text-align: center;
    }

    .location .location-detail, .location .map {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .location .map {
        min-height: 300px;
    }

    .location-detail .search-bar {
        margin: 0;
        padding: 15px 20px;
        margin-bottom: 35px;
        width: fit-content;
       

        img {
            width: 20px;
            margin-left: 10px;
        }

        img:nth-child(1) {
            width: 20px;
            margin-right: 7px;
        }
    }

    .location-detail .search-bar p {
        font-size:clamp(5px, 2vw, 20px);
    }

}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .rating {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.rating .rating-top {
    background-color: #315335;
    width: 100%;
    padding: 20px;
    color: #fff;
    font-family: "Kumbh Sans";
    font-size: 2.5rem;
    font-weight: 900px;
    text-align: center;
}

.rating span {
    width: 100%;
    height: 1px;
    border: 1px solid rgba(163, 161, 161, 0.2);
}

.rating .rating-wrapper-container {
    min-height: 200px;
    width: 100%;
    margin: 40px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
}

.rating-wrapper-container::-webkit-scrollbar {
    display: none;
}

.rating-wrapper-container .prev-btn, .rating .next-btn {
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
    transition: all 0.4s ease;
    background-color: #315335;
}

.rating-wrapper-container .prev-btn:hover, .rating-wrapper-container .next-btn:hover {
    img {
        opacity: 1;
        transform: scale(1.3);
    }
}

.rating-wrapper-container .prev-btn {
    left: 5%;
    transform: rotate(180deg);
}

.prev-btn img, .next-btn img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    transition: all 0.3s ease;
    filter: invert(1);
}

.rating-wrapper-container .rating-carousel {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.rating-carousel .rating-slider {
    height: fit-content;
    width: 166.65%;
    display: flex;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.rating-slider .rating-wrapper {
    margin: 0 10px;
    flex-basis: 20%;
    flex-shrink: 0;
    flex: 1;
    width: 20%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e5f5dcbb;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 30px;
    padding: 30px;
    scale: 0.65;
}

.rating-wrapper.focused {
    animation: zoom 0.65s forwards;

    .rating-profile p {
        color: #fff;
    }

    p {
        color: #fff;
    }
}

@keyframes zoom {
    0% {

    }
    100% {
        background-color: #315335;
        transform: scale(1.45);
    }
}

.rating-wrapper .rating-profile {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.rating-profile img {
    width: 50px;
    height: 50px;
}

.rating-star {
    height: 24px;
    width: 24px;
    margin-bottom: 20px;
}

.rating-wrapper .rating-profile p {
    padding-left: 10px;
    color: #000;
    font-size: 1.7rem;
    font-family: "Kumbh Sans", sans-serif;
}

.rating-wrapper p {
    color: #000;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1.35rem;
    text-align: justify;
}

.footer span {
    width: 100%;
    height: 1px;
    border: 1px solid rgba(163, 161, 161, 0.2);
}

.footer .contact {
    width: 100%;
    min-height: 130px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: #e5f5dc;
    font-family: "Kumbh Sans", sans-serif;
}

.contact .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.contact-wrapper .social-media img {
    width: 30px;
    margin: 0 5px;
}

.contact-wrapper .social-media img:hover {
    transform: translateY(-4px) scale(1.15);
    transition: all 0.3s ease;
}

.contact .contact-wrapper:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    flex-direction: row;
}

.contact .contact-wrapper:nth-child(3) {
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-wrapper:nth-child(1) img {
    width: 72px;
    height: 96px;
}

.contact-wrapper:nth-child(2) {
    p {
    font-weight: 600;
    font-size: 1.2rem;
    }
    button {
        font-size: 1.2rem;
        font-family: "Kumbh Sans";
        border: none;
        cursor: pointer;
        background-color: #e5f5dc;
        padding-bottom: 10px;
        position: relative;
        transition: all 0.3s;
    }
}

.contact-wrapper:nth-child(2) button::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: #198754;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.4s;
}

.contact-wrapper:nth-child(2) button:hover {
    color: #198754;
}

.contact-wrapper:nth-child(2) button:hover::after {
    width: 100%;
}

.contact-wrapper:nth-child(3) p {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.footer .copyright {
    font-family: "Kumbh Sans";
    font-weight:bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    width: 90%;
    display: flex;
 
    justify-content: space-between;
   
}

.agency{
    padding: 10px;
}

.copyright p:nth-child(1) a {
    color: #000;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
}

.copyright p:nth-child(1) a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #EA3B1C;
    transition: all 0.3s;
}

.copyright p:nth-child(1) {
    a:hover {
        color: #EA3B1C;
    }
    a:hover::after {
        width: 100%;
    }
}

@media screen and (max-width: 1160px) {
    .rating .rating-wrapper-container {
        margin: 0 20px;
    }

    .rating .rating-top {
        font-size: 2rem;
    }
    .rating-carousel .rating-slider {
        width: 500%;
    }

    .rating-wrapper-container {
        .prev-btn {
            left: 20px;
        }
        
        .next-btn {
            right: 20px;
        }
    }

    .rating-wrapper-container .rating-wrapper {
        scale: 0.7;
        width: 90%;
        background-color: #315335;
    }

    .rating-wrapper p {
        color: #fff;
    }

    .rating-wrapper .rating-profile p {
        color: #fff;
    }
}

@media screen and (max-width: 960px) {
    .footer .contact {
        padding-bottom: 20px;
        flex-direction: column;
        min-height: 0;
    }

    .contact .contact-wrapper {
        width: 90%;
        min-height: 0;
        margin-bottom: 20px;
    }

    .contact .contact-wrapper:nth-child(1) {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .contact-wrapper:nth-child(2) {
        margin-bottom: 20px;
        p {
            padding-bottom: 5px;
        }
    }

    .footer .copyright {
        padding-bottom: 20px;
        font-size: clamp(10px, 2vw, 20px); /* Minimum 12px, flexible up to 20px */

        p:nth-child(1) {
            margin-bottom: 10px;
        }
        flex-grow: 1;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-75%) scale(0.3);
    transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.show {
    filter: blur(0);
    transform: translateX(0) scale(1);
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 960px) {
    .hidden {
        transform: translateX(-50%);
    }

    .show {
        transform: translateX(0);
    }
}

.services .service-wrapper:nth-child(2) {
    transition-delay: 100ms;
}

.services .service-wrapper:nth-child(3) {
    transition-delay: 200ms;
}

.price .price-wrapper:nth-child(2) {
    transition-delay: 100ms;
}

.price .price-wrapper:nth-child(3) {
    transition-delay: 200ms;
}

.footer .rating-wrapper:nth-child(2) {
    transition-delay: 100ms;
}

.footer .rating-wrapper:nth-child(3) {
    transition-delay: 200ms;
}

.hidden {
    animation: hiddenAnimation both;
    animation-timeline: view(90% 0%);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #f1ffd7;
}

::-webkit-scrollbar-thumb {
    background-color: #166f01;
}

/* @keyframes hiddenAnimation {
    from {
        opacity: 0;
        transform: translateX(-75vw) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@media screen and (max-width: 960px) {
    .hidden {
        animation: hiddenAnimation both;
        animation-timeline: view(90% 0%);
    }
    
    @keyframes hiddenAnimation {
        from {
            opacity: 0;
            transform: translateX(-75vw) scale(0.3);
        }
        to {
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }
} */

